body,
html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #000;
  font-family: "Lexend", sans-serif;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.row {
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-flow: column;
}

.wrap {
  display: flex;
  flex-flow: wrap;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.l2 {
  color: #000;
  font-size: 15px;
  text-underline-offset: 4px;
  line-height: 22px;
  cursor: pointer;
}

.l2:hover {
  opacity: 0.8;
}

.footer {
  display: flex;
  align-items: center;
}

.footer > * {
  width: 100%;
}

.footer > *:not(:last-child) {
  margin-right: 12px;
}

.shadow1 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14);
}

.r1 {
  border-radius: 4px;
}

.circle {
  border-radius: 50%;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.in {
  opacity: 0;
  animation: animate-in 0.4s ease-in-out 0.4s forwards;
}

.cap {
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase;
}

.clickable {
  cursor: pointer;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  font-size: 14px;
  font-weight: bolder;
  padding: 10px 18px;
  min-width: 72px;
  text-align: center;
  max-width: max-content;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  color: #fff;
}

a.button {
  text-decoration: none;
}

.button.primary:hover {
  background: #ff7878;
  color: #000;
}

.button.primary {
  border: 1px solid #ff7878;
  color: #ff7878;
}
